<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Index</title>
    <h1>Tell us about your favourite car!!!</h1>
    <form id="car-form-data" method="POST" action="">
        <label for="car-brand-input">Brand</label>
        <input id="car-brand-input" name="car-brand-input" type="text">
        <label for="car-model-input">Model</label>
        <input id="car-model-input" name="car-model-input" type="text">
        <label for="car-year-input">Year</label>
        <input id="car-year-input" name="car-year-input" type="date">
        <label for="car-colour-input">Colour</label>
        <input id="car-colour-input" name="car-colour-input" type="color">
    </form>
    <button id="submit-car-data">Submit</button>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <script type="text/javascript"  src="main.js"></script>

</head>
<body>
    <p>Test</p>
</body>
</html>