#colour-patch{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 10px;
}

.card-cont{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.car-data-card-cont{
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 10px 5px;
    width: 30%;
}